.wrapper {
  min-height: calc(100vh - 83px);
}

.logo-font {
  font-family: 'Lobster', cursive;
}

.back :active {
  font-size: 25px;
}

@include media-breakpoint-down(xl) {
  .product-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
  }

  .product-text,
  .product-quantity {
    font-size: 1.375rem;
  }

  .product-small-text {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1.25rem;
  }

  .pay-info {
    font-size: 1.125rem;
  }
}
